
.searchbutton {
    margin-right: 7px;
  }
  
  .searchbar {
    margin-right: 7;
    margin-left: auto;
    width: auto;
    align-self:right;
    text-align: left;
    padding-left: 50px;
  }
  
  