<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title slot="start">Trending TV</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item button *ngFor="let item of TV" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" />
      </ion-avatar>
      <ion-label text-wrap>{{ item.name }}
        <p>{{ item.first_air_date | date:'y' }}</p>
        <p>{{ item.overview }}</p>
      </ion-label>
      <ion-badge slot="end">{{ item.vote_average }}</ion-badge>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>