<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title slot="start" *ngIf="!showSearch">Trending Movies</ion-title>
    <ion-button class="searchbutton" slot="end" (click)="toggleShowSearch()">
      <ion-icon name="search-outline"></ion-icon>
    </ion-button>
    <ion-searchbar class="searchbar" slot="start" [debounce]="750"(ionInput)="loadSearches($event)" *ngIf="showSearch"></ion-searchbar>
  </ion-toolbar>

  

</ion-header>

<!-- When !ShowSearch -->
<ion-content [fullscreen]="true" *ngIf="!showSearch">
  <ion-list>
    <ion-item button *ngFor="let item of movies" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" />
      </ion-avatar>
      <ion-label>{{item.title }}
        <p>{{ item.release_date }}</p>
      </ion-label>

      <ion-badge slot="end">{{ item.vote_average }}</ion-badge>
    </ion-item>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content
      loadingSpinner="circular"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<!-- When ShowSearch  -->
<ion-content *ngIf="showSearch">
  <ion-list>
    <ion-item button *ngFor="let item of queryResults" [routerLink]="[item.id]">
      <ion-avatar slot="start">
        <img [src]="imageBaseUrl + '/w92' + item.poster_path" />
      </ion-avatar>
      <ion-label>{{item.title }}
        <p>{{ item.release_date }}</p>
        <p>{{ item.overview }}</p>
      </ion-label>
      

      <ion-badge slot="end">{{ item.vote_average }}</ion-badge>
    </ion-item>
  </ion-list>


</ion-content>